<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <!--
          <li class="{{ thestandard_active }}"><a href="/thestandard">thestandard<span class="sr-only">(current)</span></a></li>
          <li class="{{ joomag_active }}"><a href="/joomag">joomag<span class="sr-only">(current</span></a></li>
          <li class="{{ pdf2jpg_active }}"><a href="/pdf2jpg">pdf2jpg<span class="sr-only">(current)</span></a></li>
          -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">scrapers <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/thestandard">thestandard</a></li>
                <li><a href="/joomag">joomag</a></li>
                <li><a href="/magzter">magzter</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">tools <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/pdf2jpg">pdf2jpg</a></li>
            </ul>
          </li>
      </ul>
    </div>
</nav>


{% block body %}
{% endblock %}



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>