{% extends 'layout.html' %}

{% block body %}
<p>
    <div class="container">
        <form method="POST">
            <br>
             <div class="form-group">
                <label for="name">Name of publication</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="enter the name of the publication"></span>
                <input type="text" class="form-control" id="url" name="name" placeholder="eg, RooiRose">
                 <br>
            </div>
            <div class="form-group">
                <label for="url">URL of publication</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="paste in the complete URL of the publication"></span>
                <input type="text" class="form-control" id="url" name="url" placeholder="eg, http://abc.com">
                 <br>
            </div>
            <div class="form-group">
                <label for="pages">Number of pages</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="enter the total number of pages of the publication"></span>
                <input type="text" class="form-control" id="pages" name="pages" placeholder="eg, 123">
                <br>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">

            </div>
        </form>
    </div>
</p>

</br >
</br >

<p class="text-center jumbotron">
    <strong>This scraper will download from 'magzter'.</strong></br ></br >
    First get the url of the magazine and the number of pages</br >
    Insert the details and click 'submit'</br >
    The scraper will begin and once completed a popup will appear</br >
    Save the file to your pc</br >
</p>


{% endblock %}