{% extends 'layout.html' %}

{% block body %}
<p>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="publication">Publication name</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="enter a name for the publication"></span>
                <input type="text" class="form-control" id="publication" name=publication placeholder="">
                 <br>
            </div>
            <div class="form-group">
                <label for="file">PDF file.</label>
                <input type=file id="file" name=file>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Convert" name="action">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      {% if 'converted successfully' in message %}
                        <input type="submit" class="btn btn-primary" value="{{ publication }}" name=publication_download>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</p>

</br >
</br >

<p class="text-center jumbotron">
    <strong>This tool will convert PDF files to JPEG.</strong></br ></br >
    First enter a publication name</br >
    Then click browse and select your PDF file</br >
    Click on the 'convert' button</br >
    When complete, a 'download' button will appear</br >
    Click 'download' and save the converted.zip file to your pc</br >
</p>

<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</div>
{% endblock %}
