{% extends 'layout.html' %}


{% block body %}
<p>
    <div class="container">
        <form method="POST">
            <br>
            <div class="form-group">
                <label for="url">URL of publication</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="paste in the complete URL of the publication"></span>
                <input type="text" class="form-control" id="url" name="url" placeholder="eg, http://abc.com">
                 <br>
            </div>
            <div class="form-group">
                <label for="pages">Number of pages</label>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="enter the total number of pages of the publication"></span>
                <input type="text" class="form-control" id="pages" name="pages" placeholder="eg, 123">
                <br>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">

            </div>
        </form>
    </div>
</p>
{% endblock %}

